*{
    margin: 0;
    border: 0;
    padding: 0;}
@font-face {
    font-family: "display";
    src: url(/EXERCICIO2/fonts/PlayfairDisplay-VariableFont_wght.ttf);}
@font-face {
    font-family: "displaysc";
    src: url(/EXERCICIO2/fonts/PlayfairDisplaySC-Regular.ttf);}

.inicio{
    background-image: url(/EXERCICIO2/imgs/inicio.png);
    height: 620px;
    display: flex;
    align-items: center;
    padding-left: 50px;
    background-size: cover;}

h1{
    font-size: 50px;
    color: white;
    font-family: "displaysc";
    font-weight:100;
}

.partedois{
    gap: 60px;
    align-items: center;
    display: flex;}
.capa{
    height: 500px;
    width: 350px;
    padding: 50px 50px 50px 80px;}
.text{
    font-family: "display";
    font-size: 20px;
    width: 600px;}

h2{
    font-size: 45px;
    color: white;
    font-family: "display";
    font-weight:100;}

.inicio2{
    background-image: url(/EXERCICIO2/imgs/inicio2.png);
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    background-size: cover;}

.caixa{
    align-items: center;
    display: flex;
    padding: 80px 0px 80px 120px;}

.autor{
    font-size: 35px;
    align-items: center;
    font-family: "display";
    font-weight: 400;
    padding-left: 30px;}
.nome{
    font-size: 30px;
    font-family: "display";
    font-weight: 100;
    padding-left: 30px;}

.inicio3{
    background-image: url(/EXERCICIO2/imgs/inicio3.png);
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    background-size: cover;}

.text2{
    font-family: "display";
    font-size: 20px;
    width: 600px;
    padding-left: 80px;}
.casal{
    height: 500px;
    width: 400px;
    padding: 50px 50px 50px 80px;}

footer{
    background-color: #070B0D;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;}

button{
    transition: 0.3s ease-in-out;
    background-color: white;}
button :hover{
    cursor: pointer;
}